version: "3.9"

services:
  database:
    build: ./database
    ports:
      - "27017:27017"
    # env_file:
    #   - ./database/.env
    volumes:
      - mongo-data:/data/db

  web:
    build: ./web-app
    ports:
      - "5000:5000"
    depends_on:
      - database

volumes:
  mongo-data: