version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  web:
    build: ./web-app
    container_name: web-app
    image: apoorvib/web-app:latest
    depends_on:
      - mongo
    env_file:
      - ./web-app/.env
    ports:
      - "5000:5000"

volumes:
  mongo-data:
