<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}NYU CS & Math Course Planner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="logo">
        <h1>NYU CS & Math Course Planner</h1>
      </div>
      <nav>
      </nav>
    </header>

    <!-- Main content area -->
    <main>
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy;Famous Amoses</p>
    </footer>

    <!-- Scripts -->
    <script src="fullplan.js"></script>
    <script src="editsemester.js"></script>
  </body>
</html>
