{% extends "base.html" %}

{% block title %}Full Plan{% endblock %}

{% block content %}
<section class="full-plan">
    <h2>Your 4-Year Course Plan</h2>

    <div class="plan-grid">
        <!-- Each semester block -->
        <div class="semester" id="freshman-fall">
            <h3>Freshman Fall</h3>
            <ul class="course-list">
                <!-- Courses will be populated by fullplan.js -->
            </ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>

        <div class="semester" id="freshman-spring">
            <h3>Freshman Spring</h3>
            <ul class="course-list"></ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>

        <div class="semester" id="sophomore-fall">
            <h3>Sophomore Fall</h3>
            <ul class="course-list"></ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>

        <div class="semester" id="sophomore-spring">
            <h3>Sophomore Spring</h3>
            <ul class="course-list"></ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>

        <div class="semester" id="junior-fall">
            <h3>Junior Fall</h3>
            <ul class="course-list"></ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>

        <div class="semester" id="junior-spring">
            <h3>Junior Spring</h3>
            <ul class="course-list"></ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>

        <div class="semester" id="senior-fall">
            <h3>Senior Fall</h3>
            <ul class="course-list"></ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>

        <div class="semester" id="senior-spring">
            <h3>Senior Spring</h3>
            <ul class="course-list"></ul>
            <a href="{{ url_for('editsemester') }}">
                <button type="button" class="btn primary">
                    Edit Semester
                </button>
            </a>
        </div>
    </div>
</section>
{% endblock %}