name: Database CI

on:
  push:
    branches: [ main ]
    paths:
      - "database/**"
      - ".github/workflows/database-ci.yml"
  pull_request:
    branches: [ main ]
    paths:
      - "database/**"
      - ".github/workflows/database-ci.yml"

jobs:
  build-and-test-database:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: database

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install --dev

      - name: Lint (black)
        run: pipenv run black --check .

      - name: Lint (pylint)
        run: |
          pipenv run pylint seed.py 
      